* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Lato", sans-serif;
}
h2{
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

/* Input Section */
.input-section {
    margin: 20px;
    text-align: center;
}
.input-section span{
    padding: 5px 10px;
}
.input-section input {
    width: 150px;
    padding: 5px;
    background-color: #99d7e0;
    border: 1px solid white;
    border-radius: 5px;
}
.input-section input:hover {
    background-color: #d3dbff;
}
#btn {
    margin-left: 10px;
    padding: 7px 15px;
    background-color: #99d7e0;
    border: 1px solid white;
    border-radius: 5px;
}
#btn:hover{
    background-color: #d3dbff;
    cursor: pointer;
}

/* Display Section */
.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    text-align: center;

}
.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.coming-soon img {
    padding: 3rem;
}
.day,
.hour,
.minute,
.second {
    font-size: 3rem;
}