* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
}
h2{
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

/* Input Section */
.input-section {
    margin: 20px;
    text-align: center;
}
.input-section span{
    padding: 5px 10px;
}
.input-section input {
    width: 25%;
    padding: 5px;
}
#btn {
    margin-left: 10px;
    padding: 5px;
}

/* Display Section */
.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;

}
.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.coming-soon img {
    padding: 3rem;
}
.day,
.hour,
.minute,
.second {
    font-size: 3rem;
}